.turn {
  display: flexbox;
  flex-flow: column;
  border: solid 2px lightsteelblue;
  margin: 1% 5% 5% 1%;
  padding: 1%;
  justify-content: center;
  text-align: center;
  font-weight: normal;
}
.dice {
  color: black;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 80%;
}
button {
  margin: 0 auto;
  display: block;
}
